EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8000/api/v1 esto lo usamos para poder probar la app en el emulador de Android
EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=564342960055-hha990jlkddsfedsp1ajou7crf7u90rv.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_FACEBOOK_APP_ID=1705197523863048
